dialog {
    border-radius: 30px;
    padding: 0;
    transform: translateX(100vw);
    border: none;
    width: calc(100% - 60px);
    height: calc(100% - 160px);
    max-width: 1212px;
    max-height: 592px;
    outline: none;
    background: transparent;
    transition: opacity 0.3s ease;

    &::backdrop {
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    &.tl-in::backdrop {
        animation: backdrop-in 0.5s forwards;
    }

    &.tl-out::backdrop {
        animation: backdrop-out 0.5s forwards;
    }
}

#con-wrapper {
    display: flex;
}

#con-sidebar {
    flex-basis: 40%;
    box-shadow: 3px 0 3px 0 var(--unselected-grey);
    background: white;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    max-width: 456px !important;
    position: relative;
    padding: 0 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #b3b3b3 white;

    & > * {
        width: 100%;
    }

    & > div {
        padding-bottom: 20px;
        background: white;
        position: sticky;
        width: 100%;
        top: 0;

        & button {
            width: 100%;
            display: flex;
            font-size: 20px;
            margin-top: 20px;
            align-items: center;
            justify-content: center;
            
            

            & i {
                margin-left: 20px;

                & img {
                    margin-top: 1px;
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }

    & output {
        height: 1440px;
        & > div {
            & h5 {
                padding-left: 30px;
            }

            &:after {
                width: 100%;
                display: block;
                content: "";
                height: 1px;
                box-shadow: 0 -1px 2px 0 var(--unselected-grey);
            }
        }

        & > button {
            word-break: break-word;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: max-content;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                background: linear-gradient(to bottom, #F9F9F9, #F0F0F0);

            }

            & .abbr-profil {
                height: 42px;
                font-size: 10px;
                min-width: 42px;
                border: 2px solid white;
            }

            & div:nth-child(2) {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                & span {
                    font-weight: normal;

                    &:nth-child(2) {
                        color: var(--mail-color);
                    }
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: white;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #b3b3b3;
        border-radius: 10px;

        &:hover {
            background: #999;
        }
    }
}

#con-display {
    background: var(--primary-background-color);
    flex-basis: 60%;
    height: 100%;
    width: 100%;

    & > div {
        margin-top: 90px;

        & > div {
            gap: 60px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            & h1 {
                position: relative;

                &:after {
                    width: 3px;
                    content: "";
                    height: 59px;
                    position: absolute;
                    inset: 10px 0 0 17.35rem;
                    background-color: var(--secondary-blue);
                }
            }

            & h2 {
                font-weight: normal;
                color: var(--primary-blue);
            }
        }

        & article {
            margin-top: 24px;

            & p {
                padding-right: 40px;

                &:nth-child(2) {
                    font-size: 22px;
                    margin-bottom: 40px;
                }

                &:nth-child(4) a {
                    color: var(--mail-color);
                    word-break: break-word;
                }

                &:nth-child(6) a {
                    color: black;
                }
            }

            & > div {
                display: flex;
                align-items: center;
                flex-direction: row;

                & .abbr-profil {
                    height: 120px;
                    min-width: 120px;
                    font-size: 47px;
                    border: 3px solid white;
                }

                & div:nth-child(2) {
                    & h2 {
                        font-size: 37px;
                        margin-bottom: 5px;
                        word-break: break-word;
                    }

                    & div {
                        display: flex;

                        & button {
                            padding: 0;
                            display: flex;
                            align-items: center;
                            background: none;

                            & i {
                                width: 24px;
                                height: 24px;
                                margin-right: 5px;
                            }

                            &:nth-child(1) {
                                margin-right: 10px;
                            }

                            &:hover {
                                color: var(--secondary-blue);

                                & img {
                                    filter: brightness(0) saturate(100%) invert(56%) sepia(98%) saturate(1060%) hue-rotate(166deg) brightness(92%) contrast(93%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#edit-modal, #add-modal {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;

    & .modal-header, .modal-body {
        width: 100%;
    }

    .modal-header {
        display: flex;
        flex-basis: 33.33%;
        background: var(--primary-blue);
        align-items: center;
        justify-content: center;

        & div {
            margin: 0 20px 20% 20px;
        }

        & h1 {
            color: white;
            font-size: 61px;
            margin-top: 31px;

            &:after {
                display: block;
                width: 100px;
                margin-top: 15px;
                content: "";
                height: 3px;
                background-color: var(--secondary-blue);
            }
        }

        & img {
            width: 53.93px;
            height: 66.48px;

        }
    }

    .modal-body {
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        flex-basis: 66.66%;

        & form {
            width: 100%;
            flex-basis: 66.66%;
            margin-right: 60px;
        }

        & .abbr-wrapper {
            flex-basis: 33.33%;
            display: flex;
            justify-content: center;

            & .abbr-profil {
                height: 120px;
                min-width: 120px;
                max-width: 120px;
                width: 100%;
                font-size: 47px;
                box-shadow: 0 0 4px 0 #0000001A;
                border: 3px solid white;
            }
        }

        & .btn-group {
            margin-top: 20px;

            & button {
                height: 55px;

                &:first-child {
                    margin-right: 20px;
                    margin-bottom: 10px;
                }

                & i {
                    margin-left: 5px;
                }
            }
        }

        & .input-group {
            width: 100%;
            position: relative;
            margin-bottom: 20px;

            & input {
                width: 100%;
                outline: none;
                font-size: 16px;
                border-radius: 8px;
                padding: 12px 40px 12px 15px;
                border: 1px solid var(--placeholder-grey);

                &:focus {
                    border: 1px solid var(--secondary-blue);
                }
            }

            & i {
                top: 50%;
                right: 15px;
                position: absolute;
                transform: translateY(-50%);
                color: var(--unselected-grey-dark);
            }
        }
    }
}

#add-modal {
    & .modal-header {
        & h1 {
            margin-top: 11px;

            &:after {
                display: none;
            }
        }

        & h2 {
            color: white;
            margin-top: 5px;
            font-weight: normal;

            &:after {
                display: block;
                width: 75px;
                margin-top: 15px;
                content: "";
                height: 3px;
                background-color: var(--secondary-blue);
            }
        }
    }

    .abbr-profil {
        background: var(--placeholder-grey);

        & i {
            display: flex;
        }
    }

    .btn-group {
        & button:first-child {
            & i {
                & img {
                    transition: all 0.3s ease;
                    transform: translateY(1px);
                }
            }

            &:hover {
                & i {
                    & img {
                        filter: brightness(0) saturate(100%) invert(56%) sepia(98%) saturate(1060%) hue-rotate(166deg) brightness(92%) contrast(93%);
                    }
                }
            }
        }
    }
}

#contact-success {
    z-index: 10;
    color: white;
    width: 311px;
    height: 72px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    padding-left: 25px;
    border-radius: 20px;
    padding-right: 25px;
    align-items: center;
    background: var(--primary-blue);
    box-shadow: 0 0 4px 0 #00000026;
    animation: con-su 1s ease forwards;

    right: -80%;
    bottom: 15%;
    position: fixed;
    transition: all 0.5s ease;
}

#add-form {
    position: relative;
}

.btn-mobile {
    right: 3%;
    bottom: 15%;
    border-radius: 50%;
    top: unset !important;
    padding: 0 !important;
    position: fixed !important;
    width: max-content !important;
    height: max-content !important;

    & button {
        width: 56px !important;
        height: 56px !important;
        margin-top: 0 !important;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        display: flex;


        & img {
            height: 32px !important;
            width: 32px !important;
        }

        &:nth-child(1) {
            & img {
                transform: scale(0.8);
            }
        }
    }
}

.abbr-profil {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: cornflowerblue;
    border-radius: 50%;
}

.tl-in {
    transition: opacity 0.3s ease;
    animation: tl-in 1s forwards;
}

.tl-out {
    transition: opacity 0.3s ease;
    animation: tl-out 1s forwards;
}

.btn-close {
    background: transparent;
    position: absolute;
    right: 60px;
    padding: 0;
    top: 60px;
}

.dd-menu {
    position: absolute;
    bottom: 0;
    z-index: 1;
    right: 5px;
    width: 116px;
    height: 100px;
    background-color: white;
    box-shadow: 0 4px 4px 0 #00000040;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px 20px 0 20px;

    & li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 5px;

        &:hover {
            color: var(--secondary-blue);
            background: #eeeeee;
            border-radius: 15px;

            & img {
                filter: brightness(0) saturate(100%) invert(56%) sepia(98%) saturate(1060%) hue-rotate(166deg) brightness(92%) contrast(93%);
            }
        }

        &::marker {
            content: "";
        }

        & i {
            margin-right: 10px;
            transform: translateY(1px);
        }
    }
}

.con-out {
    animation: con-us 1s ease forwards !important;
}

.con-err:after {
    position: absolute;
    color: red;
    font-size: 14px;
    bottom: -20px;
    left: 0;
}

.con-name:after {
    content: "Check your Name. Please try again.";
}

.con-mail:after {
    content: "Check your Email. Please try again.";
}

.con-pone:after {
    content: "Check your Phone. Please try again.";
}

.contact-active {
    color: white;
    background: var(--primary-blue) !important;
}

@media (max-width: 1118px) {
    #con-sidebar {
        & output {
            .button.contact-btn {
                flex-direction: column;
                & .m-left-40 {
                    margin-left: 0;
                    margin-top: 5px;
                    align-items: center;
                }
            }
        }
    }
}

@media (max-width: 1076px) {
    #con-display {
        & .m-left-40 {
            & > div:nth-child(1) {
                align-items: flex-start;
                flex-direction: column;
                gap: 0;

                & h1 {
                    &:after {
                        display: none;
                    }
                }

                & h2 {
                    &:after {
                        display: block;
                        width: 55%;
                        margin-top: 15px;
                        content: "";
                        height: 3px;
                        background-color: var(--secondary-blue);
                    }
                }
            }
        }
    }
}

@media (max-width: 764px) {
    dialog {
        max-width: 396px;
        max-height: 760px;
        width: calc(100% - 30px);
        height: calc(100% - 60px);
    }

    #con-sidebar {
        & > div {
            & button {
                flex-direction: column;

                & i {
                    margin: 0;
                }
            }
        }

        & output {
            & .button.contact-btn {
                word-break: break-word;
            }
        }
    }

    #edit-modal, #add-modal {
        flex-direction: column;

        & .modal-header {
            flex-basis: 50%;

            & h1 {
                font-size: 47px;
            }

            & h2 {
                font-size: 20px;
            }

            & img {
                display: none;
            }

            & div {
                margin: 0;
            }
        }

        & .modal-body {
            flex-basis: 50%;
            padding-top: 60px;

            & .abbr-wrapper {
                height: 1px;
                align-items: center;
                position: absolute;
                margin: auto;
                inset: 0;
            }

            & form {
                margin-right: 0;
                flex-basis: 90%;

                & .input-group {
                    margin-bottom: 8px;

                    & input {
                        height: 41px;
                    }
                }
            }

            & .btn-group {
                display: flex;
                justify-content: center;

                & button {
                    height: 51px;

                    &:first-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    #con-display {
        flex-basis: 100%;
    }

    #add-modal {
        .btn-group {
            button:first-child {
                display: none;
            }
        }
    }

    #contact-success {
        width: 166px;
        padding-left: 5px;
        margin-right: 20px;
        padding-right: 5px;
        justify-content: center;
        animation: con-su-mobile 1s forwards;
    }

    .btn-close {
        top: 30px;
        right: 30px;

        & img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7470%) hue-rotate(116deg) brightness(109%) contrast(109%);
        }
    }

    .tl-in {
        animation: tl-in-mobile 1s forwards;
    }

    .tl-out {
        animation: tl-out-mobile 1s forwards;
    }

    .con-out {
        animation: con-us-mobile 1s ease forwards !important;
    }
}

@media (min-width: 671px) {
    #con-display {
        display: unset !important;
    }
}

@media (max-width: 670px) {
    #con-sidebar {
        display: none;
        flex-basis: 100%;
        max-width: 100% !important;

        & output {
            & .button.contact-btn {
                flex-direction: row;

                & .m-left-40 {
                    margin-left: 40px;
                    align-items: flex-start;
                }
            }
        }
    }

    #con-display {
        & > div {
            margin-top: 45px;
        }

        & article {
            & .m-left-40 {
                & > div {
                    display: none !important;
                }
            }
        }

        #back-arrow {
            display: block !important;
            position: absolute;
            right: 3%;
        }
    }

    .btn-mobile {
        & button:nth-child(1) {
            display: flex !important;
        }
    }

    .desk-btn {
        display: none !important;
    }
}

@media (max-width: 475px) {
    #con-display {
        & .m-left-40 {
            margin-left: 10px;

            & > div:nth-child(1) {
                & h2 {
                    font-size: 20px;
                    margin-top: 10px;
                }
            }
        }

        & > div {
            & article {
                & > div {
                    & .abbr-profil {
                        height: 80px;
                        min-width: 80px;
                        font-size: 27px;
                    }

                    & div:nth-child(2) {
                        & h2 {
                            font-size: 36px;
                            word-break: break-word;
                        }
                    }
                }

                & p {
                    padding-right: 10px;

                    &:nth-child(2) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 379px) {
    #con-sidebar {
        & output {
            & .button.contact-btn {
                & .m-left-40 {
                    margin-left: 20px;
                }
            }
        }
    }
}