@import url(font.css);

* {
    box-sizing: border-box;
}

:root {
    --primary-blue: #2A3647;
    --primary-blue-dark: #091931;
    --primary-blue-hover: #274268;
    --secondary-blue: #29ABE2;
    --unselected-grey: #CDCDCD;
    --placeholder-grey: #D1D1D1;
    --unselected-grey-dark: #A8A8A8;
    --primary-background-color: #F6F7F8;

}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 232px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    flex: 1;
    background-color: var(--primary-background-color);
    height: calc(100vh - 96px);
}

h1{
    color: black;
    font-weight: bold;
    font-size: 61px;
    margin: 0;
}

button{
    border: none;
    cursor: pointer;
}

.d-none {
    display: none!important;
}

.d-flex {
    display: flex;
}

@media (max-width: 900px){
    body{
        margin-left: 0px;
        margin-bottom: 80px;
    }
}

