.side-menu{
    height: 100vh;
    width: 232px;
    background-color: var(--primary-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

.side-menu-top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.side-menu-icon{
    margin-inline: auto;
    padding: 56px;
    padding-bottom: 20vh;
}

.site-navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 232px;
}

.side-menu-link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.side-menu-link-container:hover{
    background-color: var(--primary-blue-hover);
}


.side-menu-link-current{
    color: white;
    background-color: var(--primary-blue-dark);
}

.side-menu-link-current a{
    color: white;
}

.side-menu-link-current:hover{
    background-color: var(--primary-blue-dark);
}

.side-menu-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
    padding: 12px;
    width: 128px;
    color: var(--unselected-grey);
}

.side-menu-link img{
    width: 24px;
    aspect-ratio: 1/1;
}

.side-menu-bottom-container{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-navigation{
    width: 112px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;

}

.footer-navigation-link{
    color: var(--unselected-grey-dark);
}

.footer-navigation-link:hover{
    color: var(--secondary-blue);
    scale: 1.05;
}

/* mobile */

@media (max-width: 900px){
    .side-menu{
        z-index: 1;
        height: 80px;
        width: 100vw;
        flex-direction: row;
        top: 100vh;
        transform: translateY(-100%);
    }

    .site-navigation{
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        padding-inline: 32px;
    }

    .side-menu-link-container{
        padding: 12px;
        border-radius: 16px;
        width: 96px;
        gap: 4px;
    }

    .side-menu-link{
        flex-direction: column;
        gap: 8px;
        font-size: 16px;
        padding: 0px;
        width: auto;
        color: var(--unselected-grey);
    }
    
    .side-menu-link img{
        width: 20px;
        aspect-ratio: 1/1;
    }

    .side-menu-icon{
        display: none;
    }

    .side-menu-bottom-container{
        display: none;
    }
}

@media (max-width: 475px){
    .site-navigation{
        padding-inline: 4px;
        gap: 0px;
    }

    .side-menu-link-container{
        padding: 14px;
        border-radius: 16px;
        width: 88px;
        gap: 4px;
    }

    .side-menu-link{
        font-size: 12px;
        width: auto;
    }
}

/* header bar */

.header-bar{
    width: 100%;
    height: 96px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 116px;
}

.header-bar-logo{
    display: none;
    width: 56px;
}

.header-bar-logo img{
    width: 56px;
}

.header-bar-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: relative;
}

.help-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-icon{
    width: 24px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.help-icon:hover{
    scale: 1.2;
}

.user-initials-container{
    border: 3px solid var(--primary-blue);
    border-radius: 50%;
    width: 56px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user-initials-container:hover{
    background-color: rgb(214, 220, 223);
}

.user-initials{
    color: var(--secondary-blue);
    font-size: 16px;
    font-weight: bold;
}

.logout-menu{
    position: absolute;
    top: 76px;
    right: -16px;
    width: 150px;
    height: 158px;
    background-color: var(--primary-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px 0px 20px 20px;
}

.logout-menu a{
    width: 100%;
    padding: 8px;
    transition: 0.2s ease-in-out;
    color: var(--unselected-grey);
}

.logout-menu a:hover{
    background-color: var(--primary-blue-hover);
}

/* mobile */

@media (max-width: 900px){
    .header-bar{
        width: 100%;
        height: 96px;
        box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px 20px 40px;
    }

    .header-bar-logo{
        display: block;
    }

    .kanban-title{
        display: none;
    }

    .help-link{
        display: none;
    }
}

@media (max-width: 475px){
    .header-bar{
        width: 100%;
        height: 80px;
        padding: 20px 20px 20px 20px;
    }

    .header-bar-logo{
        width: 40px;
    }

    .user-initials-container{
        width: 48px;
        aspect-ratio: 1/1;
    }
}