#start-page {
    margin: 0;
    background: var(--primary-background-color);
    animation: bg-change 0.9s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards;

    & header {
        & div:first-of-type {
            top: 5%;
            right: 5%;
            z-index: 1;
            display: flex;
            font-size: 20px;
            position: absolute;
            align-items: center;
            height: max-content;

            & button {
                height: 49px;
                margin-left: 35px;
                padding: 15px 16px;
            }
        }
    }

    & main {
        animation: bg-change 0.9s cubic-bezier(0.55, 0.06, 0.68, 0.19) forwards;
        display: flex;
        height: 100dvh;
        align-items: center;
        justify-content: center;

        & form {
            inset: 0;
            margin: auto;
            display: flex;
            padding: 40px;
            background: white;
            position: absolute;
            border-radius: 30px;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

            & h1 {
                margin-top: 0;
                font-size: 61px;
                font-weight: bold;
                margin-bottom: 10px;

                &::after {
                    height: 3px;
                    content: "";
                    display: block;
                    max-width: 145px;
                    margin: 15px auto 20px;
                    background-color: var(--secondary-blue);
                }
            }

            input {
                width: 100%;
                outline: none;
                font-size: 16px;
                border-radius: 8px;
                max-width: 422px !important;
                padding: 12px 40px 12px 15px;
                border: 1px solid var(--placeholder-grey);

                &::placeholder {
                    color: var(--placeholder-grey);
                }

                &:focus {
                    border: 1px solid var(--secondary-blue);
                }
            }
        }
    }

    & footer nav {
        left: 0;
        right: 0;
        bottom: 5%;
        display: flex;
        position: absolute;
        justify-content: center;

        & a {
            cursor: pointer;
            color: var(--unselected-grey-dark) !important;

            &:first-child {
                margin-right: 25px;
            }
        }
    }

    .input-group {
        width: 100%;
        max-width: 422px;
        position: relative;
        margin-bottom: 20px;

        & i {
            top: 50%;
            right: 15px;
            position: absolute;
            transform: translateY(-50%);
            color: var(--unselected-grey-dark);

            & picture {
                width: 22px;
                height: 20px;
                display: block;
                background-size: cover;
                background-image: url("../assets/svg/form-icons/visibility_off.svg");
            }
        }
    }

    .btn-group {
        font-size: 21px;
        margin-top: 20px;

        & button {
            height: 48px;
            line-height: 0;
            font-size: 21px;

            &:first-of-type {
                margin-right: 35px;
            }
        }
    }

    .checkbox-group {
        display: flex;
        margin-top: 20px;
        max-width: 231px;
        max-height: 24px;

        & input[type="checkbox"] {
            cursor: pointer;
            margin: 0 8px 0 0;
            width: max-content !important;
            /* border: 2px solid var(--primary-blue) !important; */
        }

        & span {
            color: var(--unselected-grey-dark);

            & a {
                color: var(--secondary-blue) !important;
            }
        }
    }
}

#signUp-group, #start-page nav, #start-page form {
    opacity: 0;
    animation: opacity 2s 250ms ease forwards;
}

#login-form {
    display: flex;
    max-width: 652px;
    max-height: 449px;
    justify-content: center;
}

#signUp-form {
    display: flex;
    max-width: 598px;
    max-height: 630px;
    justify-content: center;

    #back-arrow {
        /* top: 10%; */
        /* left: 10%; */
        /* cursor: pointer; */
        /* margin-top: 10px; */
        /* position: absolute; */
    }

    & button {
        height: 48px;
        line-height: 0;
        font-size: 21px;
        margin-top: 40px;
    }
}

#sign-success {
    z-index: 5;
    width: 312px;
    height: 74px;
    display: flex;
    position: absolute;
    text-align: center;
    padding-left: 25px;
    border-radius: 20px;
    padding-right: 25px;
    align-items: center;
    background: var(--primary-blue);
    box-shadow: 0 0 4px 0 #00000026;
    animation: sign-su 1s ease forwards;

    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}

#logo-start {
    top: 50%;
    left: 50%;
    z-index: 50;
    width: 100.03px;
    height: 121.97px;
    position: absolute;
    transform: translate(-50%, -50%) scale(2);
    animation: logo 1s 250ms cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.loginError:after {
    content: "Check your email and password. Please try again.";
    position: absolute;
    color: red;
    font-size: 14px;
    bottom: -20px;
    left: 0;
}

.signUpError:after {
    position: absolute;
    color: red;
    font-size: 14px;
    bottom: -20px;
    left: 0;
}

.upCheckbox:after {
    content: "Check the Pricacy policy. Please try again.";
}

.upPassword:after {
    content: "Your passwords don't match. Please try again.";
}

.upPass:after {
    content: "Password is to short (6<). Please try again.";
}

.upEmail:after {
    content: "Your Email is not an Email. Please try again.";
}

.upMail:after {
    content: "Mail is already in use. Please try again.";
}

.upName:after {
    content: "Your Name is not given. Please try again.";
}

@media (max-width: 700px) {
    #start-page {
        background : var(--primary-blue);

        & main {
            background : var(--primary-blue);

            & form {
                padding: 20px;
                margin: auto 20px;
                max-height: max-content;

                & h1 {
                    font-size: 47px !important;
                }

                & button {
                    font-size: 16px !important;
                }
            }
        }

        .btn-group {
            display: flex;
            flex-direction: column;

            & button:first-of-type {
                margin-bottom: 10px;
                margin-right: 0;
            }
        }
    }

    #signUp-form {
        top: 30px !important;

        & img, h1 {
            margin: 0 !important;
        }

        & button {
            margin-top: 20px;
        }

        .input-group {
            margin-bottom: 15px;
        }

        .checkbox-group {
            margin-top: 5px;
        }
    }

    #logo-start {
        width: 64px;
        height: 78.03px;
        filter: invert(1) brightness(2);
        animation: logo 1s 250ms cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
    }

    #signUp-group {
        left: 0;
        bottom: 10.5%;
        right: 0 !important;
        align-items: center;
        top: unset !important;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .loginError:after {
        bottom: -35px;
    }
}

@media (max-width: 385px) {
    .signUpError:after {
        z-index: 505;
        color: white;
        bottom: -24vh;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
        background: var(--primary-blue);
    }
}