@keyframes opacity {
    to {
        opacity: 1;
    }
}

@keyframes logo {
    to {
        top: 5%;
        left: 5%;
        transform: translate(0, 0) scale(1);
    }
}

@keyframes tl-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}

@keyframes tl-out-mobile {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

@keyframes tl-in {
    to {
        transform: translateX(0);
    }
}

@keyframes tl-in-mobile {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes backdrop-in {
    to {
        opacity: 1;
    }
}

@keyframes backdrop-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes bg-change {
    to {
        background: var(--primary-background-color);
    }
}

@keyframes greeting {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

@keyframes sign-su {
    from {
        bottom: -55%;
    }

    to {
        bottom: 45%;
    }
}

@keyframes con-su {
    from {
        bottom: 15%;
        right: -80%;
    }

    to {
        bottom: 15%;
        right: 21%;
    }
}

@keyframes con-su-mobile {
    from {
        bottom: -80%;
        right: 15%;
    }

    to {
        bottom: 21%;
        right: 15%;
    }
}

@keyframes con-us {
    from {
        bottom: 15%;
        right: 21%;
    }

    to {
        bottom: 15%;
        right: -80%;
    }
}

@keyframes con-us-mobile {
    from {
        bottom: 21%;
        right: 15%;
    }

    to {
        bottom: -80%;
        right: 15%;
    }
}

@media (max-width: 700px) {
    @keyframes logo {
        to {
            top: 5%;
            left: 5%;
            filter: invert(0) brightness(1);
            transform: translate(0, 0) scale(1);
        }
    }
}
