<<<<<<< HEAD
#privacy-policy {
=======
#legal-policy {
>>>>>>> ebc239286ac83e72f953a773d79d3a585c70daa4
    & h1 {
        font-size: 2.5rem;
        padding-top: 96px;
        padding-left: 96px;
        margin-bottom: 100px;
    }

    & h2 {
        margin-top: 80px;
        font-size: 2rem; 
        padding-left: 96px;
    }

    & p {
        max-width: 1440px;
        padding: 0 20px;
        padding-left: 96px;
    }
}

<<<<<<< HEAD

=======
>>>>>>> ebc239286ac83e72f953a773d79d3a585c70daa4
@media (max-width: 768px) {
    #legal-policy {
        & h1 {
            font-size: 2rem; /
        }

        & h2 {
            font-size: 1.5rem;
            margin-top: 50px;
        }

        & p {
            margin: 50px 20px;
        }
    }
}