#single-task {
    display: flex;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: flex-start;
}

#single-button-field {
    display: flex;
    margin-top: 7.5vh;
    justify-content: space-between;
}

#req-p {
    margin: 0;
}

#req-p2 {
    margin-top: 0;
    display: none;
}

.task-container {
    background-color: var(--primary-background-color);
    padding: 64px 64px 64px 96px;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: auto;
    gap: 24px;
}

.task-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    max-height: 80vh;
    width: 100%;
    height: 100%;
}

.single-buttons {
    display: flex;

    button:first-child {
        margin-right: 20px;
    }
}
@media (max-width: 1111px) {
    .task-container {
        padding: 70px 60px 40px 60px
    }
}

@media (max-width: 900px) {
    #single-task {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .task-container {
        padding: 0 20px;
    }
}

@media (max-width: 666px) {
    .single-tasks {
        overflow-y: auto;
        flex-direction: column;
        max-height: 45vh !important;
    }
}

@media (max-width: 444px) {
    #single-button-field {
        justify-content: flex-end;
    }

    #req-p {
        display: none;
    }

    #req-p2 {
        display: unset;
    }
}

@media (max-height: 650px) {
     .height_m {
        /* max-height: 50vh !important; */
     }
}